.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  .banner-top {
    background-color:rgb(15, 15, 104);
    min-height: 8vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(5px + 2vmin);
    color: azure;
  }
  
  .banner-bottom {
    background-color:rgb(15, 15, 104);
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(5px + 2vmin);
    color: azure;
  }