.Body
{
    min-width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: relative;
    padding-bottom: 3em;
    justify-content: space-around;
    white-space: pre-line;
    
}