.Footer
{
    background-color:brown;
    min-height:10vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
}