*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins;
  max-width: 1200px;
  margin: 0 auto;


}

img{
  max-width: 100%;
}

.title{
  text-align: center;
  padding: 30px 0;
<<<<<<< HEAD
  background-color: black;

=======
>>>>>>> d10f7feec0ac1944338aee72189b7790452465df
}


.container-products{
  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(6,1fr);
=======
  grid-template-columns: repeat(3,1fr);
>>>>>>> d10f7feec0ac1944338aee72189b7790452465df
  gap: 20px;
}

.card-product{
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}



.container-img{
  flex: 1;
}

.container-img img{
  width: 100%;
<<<<<<< HEAD
  height: 250px;
=======
  height: 400px;
>>>>>>> d10f7feec0ac1944338aee72189b7790452465df
  object-fit: contain;

}

.info-product{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 30px;
  height: 100%;
}

.info-product h3{
  color: #777;
  font-weight: 500;
}


.price{
  color: #000;
<<<<<<< HEAD
  font-weight: 900;
  margin: 30px 0;
=======
  font-weight: 700;
  margin: 15px 0;
>>>>>>> d10f7feec0ac1944338aee72189b7790452465df
}

.info-product button{
  background-color: #000;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  margin-top: auto;
}